<!-- Side container -->
<div class="side-container">

    <!-- Header -->
    <div class="side-header baked-potato-header" (click)="reveal()">

        <!-- Title -->
        <div class="side-title baked-potato-title">
            <h3>{{name}}</h3>
        </div><!-- /Title -->

        <!-- Desc -->
        <div class="side-desc baked-potato-desc">
            <p>{{desc}}</p>
        </div>

    </div><!-- /Header -->

    <!-- Body -->
    <div *ngIf="bakedPotatoReveal" class="side-body baked-potato-body">

        <!-- Options form -->
        <form #f="ngForm">

            <!-- Options list -->
            <div class="side-options-list">
                <label for="baked-potato-options">How many baked potatoes would you like?</label>
                <input  type="text" 
                        required
                        name="bakedPotatoOptions"
                        #bakedPotatoOptions="ngModel"
                        id="bakedPotatoOptions"
                        [(ngModel)]="optionSelected"
                        pattern="[0-9]">
            </div><!-- /Options list -->

            <!-- Options list error -->
            <div *ngIf="bakedPotatoOptions.invalid && bakedPotatoOptions.errors.pattern" class="side-error-container">
                <div class="error-text" style="color: red">You must enter a single digit number.</div>
            </div><!-- /Options list error -->

        </form><!-- /Options form -->

        <!-- Choose Button -->
        <div class="side-chosen-button baked-potato-chosen-button">
            <button (click)="sendToParent()" [disabled]="!f.valid">Choose this side</button>
        </div><!-- /Choose Button -->

    </div><!-- /Body -->

</div><!-- /Side container -->