ul {
    list-style-type: none;
    padding: 0px;
}

.main-header {
    padding: 2px;
}

.main-body {
    padding: 2px;
}

.title-box {
    display: flex;
    margin-top: auto;  
    margin-bottom: auto;  
}

.required-box {
    display: flex;
}

.required-box .right-text {
    width: 280px;
}
.left-text {
    float: left;
    width: 280px;
}

.title-box .right-text {
    width: 280px;
}

.right-text {
    float: right;
    text-align: right;
}

.main-options-container {
    width: 395px;
    margin-bottom: 30px;
}

.main-options-list select {
    width: 395px;
}

.main-options-item {
    display: flex;
    border: solid grey 1px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: white;
}

.main-options-item label {
    float: left;
    width: 380px;
}

.main-options-item input {
    float: right;
}

.main-sides-container {
    width: 395px;
    margin-bottom: 30px;
}

.main-sides-item {
    padding: 2px;
    border: grey solid 1px;
    margin-bottom: 2px;
    background-color: white;
}

.main-sides-item:hover {
    border: black solid 2px;
}

.special-requests-container input {
    height: 50px;
    width: 390px;
}

.main-chosen-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-chosen-button button {
    height: 50px;
    width: 395px;
}
