<!-- Side container -->
<div class="side-container">

    <!-- Header -->
    <div class="side-header salad-header" (click)="reveal()">

        <!-- Title -->
        <div class="side-title salad-title">
            <h3>{{name}}</h3>
        </div><!-- /Title -->

        <!-- Desc -->
        <div class="side-desc salad-desc">
            <p>{{desc}}</p>
        </div>

    </div><!-- /Header -->

    <!-- Body -->
    <div *ngIf="saladReveal" class="side-body salad-body">

        <!-- Options form -->
        <form #f="ngForm">

            <!-- Option list -->
            <div class="side-options-list">
                <label for="salad-options">Which dressing would you like for you salad?</label>
                <select [(ngModel)]="optionSelected"
                        required
                        name="saladOptions" 
                        #saladOptions="ngModel"
                        id="saladOptions">
                    <option value="" selected>Choose dressing</option>
                    <option *ngFor="let option of options"
                            [ngValue]="option">{{option.name}}</option>
                </select>
            </div><!-- /Option list -->

            <!-- Option list error -->
            <div *ngIf="saladOptions.touched && saladOptions.invalid" class="side-error-container">
                <div class="error-text" *ngIf="saladOptions.errors.required">A dressing is required</div>
            </div><!-- /Option list error -->
            
        </form><!-- /Options form -->

        <!-- Choose Button -->
        <div class="side-chosen-button salad-chosen-button">
            <button (click)="sendToParent()" [disabled]="!f.valid">Choose this side</button>
        </div><!-- /Choose Button -->

    </div><!-- /Body -->

</div><!-- /Side container -->