<!-- App -->
<div class="app-container">

    <!-- Menus Container-->
    <div class="menus-container">

        <!-- Main Menu -->
        <div class="menu main-menu" *ngIf="!mainHidden">
            <app-menu-mains (emitToParent)="receiveFromChild($event)">
            </app-menu-mains>
        </div><!-- /Main Menu -->
    
    </div><!-- /Menus Container -->

    <!-- Order Container -->
    <div class="order-container" *ngIf="mainHidden">

        <!-- User's order -->
        <app-order [order]="order"></app-order><!-- /User's order -->

        <!-- New order button -->
        <div class="order-button">
            <button (click)="newOrder()">Start new order</button>
        </div><!-- /New order button -->
    </div><!-- /Order Container -->

</div><!-- /App -->
