<!-- App -->
<div class="app-container">

    <!-- Menus Container-->
    <div class="menus-container">

        <!-- Main Menu -->
        <div class="menu main-menu">
            <app-menu-mains *ngIf="orderHidden" 
                            (emitToParent)="receiveFromChild($event)">
            </app-menu-mains>
        </div><!-- /Main Menu -->
    
    </div><!-- /Menus Container -->

    <!-- Order Container -->
    <div class="order-container">

        <app-order  *ngIf="!orderHidden" [order]="order"></app-order>

        <div *ngIf="!orderHidden" class="order-button">
            <button (click)="newOrder()">Start new order</button>
        </div>
    </div><!-- /Order Container -->

</div><!-- /App -->