.app-container {
    background-color: #c4c0c0;
}

.order-button {
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.order-button button {
    height: 50px;
}