<!-- Side container -->
<div class="side-container">

    <!-- Header -->
    <div class="side-header fries-header" (click)="reveal()">

        <!-- Title -->
        <div class="side-title fries-title">
            <h3>{{name}}</h3>
        </div><!-- /Title -->

        <!-- Desc -->
        <div class="side-desc fries-desc">
            <p>{{desc}}</p>
        </div>

    </div><!-- /Header -->

    <!-- Body -->
    <div *ngIf="friesReveal" class="side-body fries-body">

        <!-- Options form -->
        <form #f="ngForm">

            <!-- Option list -->
            <div class="side-options-list">
                <label for="friesOptions">What size of fries would you like?</label>
                <select [(ngModel)]="optionSelected"
                        required
                        name="friesOptions" 
                        #friesOptions="ngModel"
                        id="friesOptions" 
                        class="form-control">
                    <option value="" selected>Choose dressing</option>
                    <option *ngFor="let option of options"
                            [ngValue]="option">{{option.name}}</option>
                </select>
            </div><!-- /Option list -->

            <!-- Option list error -->
            <div *ngIf="friesOptions.touched && friesOptions.invalid" class="side-error-container">
                <div class="error-text" *ngIf="friesOptions.errors.required">A dressing is required</div>
            </div><!-- /Option list error -->

        </form><!-- /Options form -->

        <!-- Choose Button -->
        <div class="side-chosen-button fries-chosen-button">
            <button (click)="sendToParent()" [disabled]="!f.valid">Choose this side</button>
        </div><!-- /Choose Button -->

    </div><!-- /Body -->

</div><!-- /Side container -->