<!-- Header -->
<div class="main-header burger-header">
    
    <!-- Title -->
    <div class="main-title burger-title">
        <h1>Burger</h1>
    </div><!-- /Title -->

    <!-- Choose Button -->
    <div class="main-chosen-button burger-chosen-button">
        <button (click)="sendToParent()">Choose this main</button>
    </div><!-- /Choose Button -->

    <!-- In order counter -->
    <div class="order-counter">
        <h4>Burgers in your order: {{inOrder}}</h4>
    </div>

</div><!-- /Header -->

<!-- Errors -->
<div class="main-error-container">

    <!-- Sides Error -->
    <div *ngIf="noSideSelected" class="main-sides-error burger-sides-error">
        <p>You must select side for your burger</p>
    </div><!-- /Sides Error -->

</div><!-- /Errors -->

<!-- Body -->
<div class="main-body burger-body">

    <!-- Image and desc container -->
    <div class="main-img-desc-container">
        <!-- Image -->
        <div class="main-image burger-image">
            <img src="{{image}}">
        </div><!-- /Image -->

        <!-- Description -->
        <div class="main-desc burger-desc">
            <p>{{desc}}</p>
        </div><!-- /Description -->
    </div><!-- /Image and desc container -->

    <!-- Options and requests container -->
    <div class="main-options-requests-container">

        <!-- Options conatianer -->
        <div class="main-options-container">
            <!-- Options Name -->
            <div class="main-options-name burger-options-name">
                <h2>{{optionsName}}</h2>
            </div><!-- /Option Name -->

            <!-- Option List -->
            <div class="main-options-list burger-options-list">
                <ul>
                    <li *ngFor="let option of options">
                        <input  type="checkbox"
                                [(ngModel)]="option.isSelected" 
                                (change)="optionsChanged()">
                        {{option.name}}
                    </li>
                </ul>
            </div><!-- Options List -->
        </div><!-- /Options conatianer -->

        <!-- Special Requests -->
        <div class="special-requests-container">
            <h2>Special Requests</h2>
            <input type="text" [(ngModel)]="specialRequests">
        </div>
    
    </div><!-- /Options and requests container -->

    <!-- Sides container -->
    <div class="main-sides-container">

        <!-- Sides Name -->
        <div class="main-sides-name burger-sides-name">
            <h2>{{sidesName}}</h2>
        </div><!-- /Sides Name -->


        <!-- Sides List -->
        <div class="main-sides-list burger-sides-list">
            <ul>
                <!-- Side item -->
                <div class="main-sides-item">
                    <li >
                        <app-side-item-salad (emitToParent)="receiveFromChild($event)"></app-side-item-salad>
                    </li>
                </div><!-- /Side item -->

                <!-- Side item -->
                <div class="main-sides-item">
                    <li>
                        <app-side-item-fries (emitToParent)="receiveFromChild($event)"></app-side-item-fries>
                    </li>
                </div><!-- /Side item -->
            </ul>
        </div><!-- /Sides List -->

    </div><!-- /Sides container -->


</div><!-- /Body -->
