<!-- Header -->
<div class="main-header" (click)="reveal()">
    
    <!-- Title -->
    <div class="main-title">
        <h1>Burger</h1>
    </div><!-- /Title -->

    <!-- Desc -->
    <div class="side-desc">
        <p>{{desc}}</p>
    </div><!-- /Desc -->

</div><!-- /Header -->

<!-- Body -->
<div *ngIf="burgerReveal" class="main-body">

    <!-- Options conatianer -->
    <div class="main-options-container">

        <!-- Options header -->
        <div class="main-options-header">

            <!-- Title text-->
            <div class="title-box">
                <h2 class="left-text">{{optionsName}}</h2> 
            </div><!-- /Title text-->

            <!-- Required text -->
            <div class="required-box">
                <p class="left-text">Pick Any</p>
            </div><!-- /Required text -->
            
        </div><!-- /Options header -->

         <!-- Options form-->
         <form #f="ngForm">
            
            <!-- Options List -->
            <div class="main-options-list">
                
                <!-- Options item-->
                <div class="main-options-item" *ngFor="let option of options">
                    <label>{{option.name}}</label>
                    <input  type="checkbox"
                            name="{{option.name}}"
                            [(ngModel)]="option.isSelected"> 
                </div><!-- /Options item-->
            
            </div><!-- Options List -->

        </form><!-- /Options form-->

    </div><!-- /Options conatianer -->

    <!-- Sides container -->
    <div class="main-sides-container">

        <!-- Sides header -->
        <div class="main-sides-header">

            <!-- Title text-->
            <div class="title-box">
                <h2 class="left-text">{{sidesName}}</h2>
            </div><!-- /Title text-->

            <!-- Required text -->
            <div class="required-box">
                <p class="left-text">Pick One</p>
                <p class="right-text" [style]="sidesRequiredTextStyle">{{sidesRequiredText}}</p>
            </div><!-- /Required text -->

        </div><!-- /Sides Name -->


        <!-- Sides List -->
        <div class="main-sides-list">
            <ul>
                <!-- Side item -->
                <div class="main-sides-item">
                    <li >
                        <app-side-item-salad (emitToParent)="receiveFromChild($event)"></app-side-item-salad>
                    </li>
                </div><!-- /Side item -->

                <!-- Side item -->
                <div class="main-sides-item">
                    <li>
                        <app-side-item-fries (emitToParent)="receiveFromChild($event)"></app-side-item-fries>
                    </li>
                </div><!-- /Side item -->
            </ul>
        </div><!-- /Sides List -->

    </div><!-- /Sides container -->

    <!-- Special Requests -->
    <div class="special-requests-container">
        <h2>Special Requests</h2>
        <input type="text" [(ngModel)]="specialRequests">
    </div><!-- /Special Requests -->

    <!-- Choose Button -->
    <div class="main-chosen-button">
        <button (click)="sendToParent()" [disabled]="!sidesComplete">{{orderButton}}</button>
    </div><!-- /Choose Button -->


</div><!-- /Body -->
